.container {
    display: flex;
    width: 80%;
    position: relative;
    margin-top: 5rem;
    margin: 0 auto;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    margin-top: 3rem;


}

.left__container,
.right__container {

    padding: 1rem 1rem;
}

.left__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    border-radius: 10px 0 0px 10px;
}


.logo__container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


.login_text {
    font-size: 12px;
}

.keep__me input {
    width: 3px;
}

.with_email {
    text-align: center;
    font-size: 10px;
}

.logo__container img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 100px;
    cursor: pointer;
}

.body__container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.body__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body__title span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 2rem;
}

.body__signup__wrapper {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.google {
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    gap: 1rem;
    font-weight: 500;
    transition: all 300ms ease;

}

.google:hover {
    opacity: 0.9;
}

.google span {
    display: flex;
    align-items: center;
}

.with_email {
    display: flex;
    color: grey;
}

.form__container {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 1rem;
}

.form span {
    display: flex;


}

.form span input {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    font-size: 15px;
}

.keep_logged {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;

}

.keep_logged span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.button {
    display: flex;
    align-items: center;
    padding: 0.7rem;
    background: rgb(9, 9, 99);
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    border: none;
    margin-top: 0.5rem;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.button:hover {
    background: rgb(9, 9, 99, 0.9);
    cursor: pointer;
}

.button span {
    display: flex;
    align-items: center;

}

.login_text {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.keep_logged span span {
    display: flex;
}

.no_accout {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    color: gray;
}

.right__container {
    display: flex;
    flex: 1;

    background: rgb(230, 242, 255);
}

.right__container img {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    transform: rotateX(30%);

}

/* 
@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        transform: translateX(100%);
        background: green;
    }

    .menu__container,
    .left__container {
        display: none;
    }

    .Hamburger {
        display: block;
    }
}
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 5px auto;


    }

    .left__container {
        flex: 1;
        padding: 10px 5px;
    }

    .body__title span {
        font-size: 12px;
    }

    .signin_google {
        font-size: 12px;
    }

    .with_google {

        font-size: 12px;
    }

    .logo__container img {
        max-width: 50px;
    }

    .right__container {
        display: none;
        flex: none;
    }

    .keep__me {
        font-size: 10px;
    }

    .forgot {
        display: flex;
        font-size: 10px;
    }

    .button {
        margin-top: -10px !important;
    }

    .no_accout {
        margin-top: -12px !important;
        font-size: 10px;
    }


}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 481px) and (max-width: 767px) {

    .container {
        width: 90%;
        margin: 5px auto;


    }

    .left__container {
        flex: 1;
        padding: 10px 5px;
    }

    .body__title span {
        font-size: 12px;
    }

    .signin_google {
        font-size: 12px;
    }

    .with_google {

        font-size: 12px;
    }

    .logo__container img {
        max-width: 50px;
    }

    .right__container {
        display: none;
        flex: none;
    }

    .keep__me {
        font-size: 10px;
    }

    .forgot {
        display: flex;
        font-size: 10px;
    }

    .button {
        margin-top: -10px !important;
    }

    .no_accout {
        margin-top: -12px !important;
        font-size: 10px;
    }

}


@media (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 90%;
        margin: 5px auto;


    }

    .left__container {
        flex: 1;
        padding: 10px 5px;
    }

    .body__title span {
        font-size: 12px;
    }

    .signin_google {
        font-size: 12px;
    }

    .with_google {

        font-size: 12px;
    }

    .logo__container img {
        max-width: 50px;
    }

    .right__container {
        display: none;
        flex: none;
    }

    .keep__me {
        font-size: 10px;
    }

    .forgot {
        display: flex;
        font-size: 10px;
    }

    .button {
        margin-top: -10px !important;
    }

    .no_accout {
        margin-top: -12px !important;
        font-size: 10px;
    }

}