.container {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
}

.recent__users_head {
    display: flex;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.recent__users_head input {
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.table {
    display: flex;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 1rem;
    /* min-width: 700px; */
    /* overflow-x: scroll; */

}

.table table {
    /* overflow-x: scroll; */
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 1rem;
    table-layout: auto;
}

.table table th {
    width: 100%;
    justify-content: space-between;
    display: flex;
    text-align: center;
    padding: 5px;
    gap: 5px;

}

.table table th td {
    display: flex;
    cursor: pointer;
    width: 100%;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 10px 2px;
}

.table table tr {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.table table tr:hover {
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
}

.table table tr td {

    display: flex;
    text-align: right;
    justify-content: left;
}

.row:hover {
    cursor: pointer;
    background: rgb(221, 216, 216, 0.2);
}

.row td {
    display: flex;
    width: 100%;
    align-items: center;
}

.action {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.action span {
    cursor: pointer;
}

.table table th td:hover {
    opacity: 0.7;

}

@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        display: flex;
        /* background: red; */
    }



    .image__container img {
        width: auto;
        max-width: 250px !important;
        max-height: 250px !important;
    }

    .data {
        margin: -2rem auto;
        left: 3rem;
        opacity: 0.9;
        right: 0;
        font-size: 12px;
        width: max-content;
    }

    .engineering {
        left: 10rem;
        padding: 0;
        font-weight: normal;
        font-size: 12px;
        width: max-content;
        opacity: 0.9;
    }

    .product {
        left: -2rem;
        padding: 0;
        margin-top: -2.4rem;
        font-weight: normal;
        font-size: 12px;
        opacity: 0.9;
        width: max-content;
    }
}





@media (min-width: 481px) and (max-width: 767px) {

    .container {}

    .image__container {
        display: none !important;
    }

    .image__container {
        display: none;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        padding: 0;
    }

    .email__head,
    .cell__head {
        display: none !important;
    }

    .email,
    .gender,
    .gender__head,
    .cell {
        display: none !important;

    }
}